<h1><%= @restaurant.name %></h1>
<%= @restaurant.category.name %><br>
Tel: <%= @restaurant.tel %><br>
Address: <%= @restaurant.address %><br>
Description:<%= @restaurant.description %><br>
</p>
  <% if @restaurant.menu_uploads.attached? %>
    <p> 
    <h2>Menu</h2>
    <% @restaurant.menu_uploads.each_with_index do |menu, i| %>
    <p> 
    <%= link_to("menu##{i}", rails_blob_path(menu, disposition: "attachment")) %>
    <%= image_tag(menu) %>
    </p>
  <% end %>
  </p>
<% end %>

<br>

<div class="container">
  <div class="row">
   <%= form_for [@restaurant, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "留下評論", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>

  <% @restaurant.comments.each do |comment| %>
    <div>
      <h4><%= comment.user.email.split("@")[0] %></h4>
      <p><%= simple_format comment.content %></p>
      <p class="text-muted">
        <em><%= comment.created_at %> </em>
      </p>
    </div>
    <hr>
  <% end %>

<% if current_user.vip? || current_user.admin? %>
   <%= link_to 'Edit', edit_restaurant_path %>
<% end %>

<br>
<%= link_to '回到餐廳列表', restaurants_path %>