<h1><%= @restaurant.name %></h1>
<%= @restaurant.category.name %><br>
Tel: <%= @restaurant.tel %><br>
Address: <%= @restaurant.address %><br>
Description:<%= @restaurant.description %><br>
</p>
  <% if @restaurant.menu_uploads.attached? %>
    <p> 
    <h2>Menu</h2>
    <% @restaurant.menu_uploads.each_with_index do |menu, i| %>
    <p> 
    <%= link_to("menu##{i}", rails_blob_path(menu, disposition: "attachment")) %>
    <%= image_tag(menu) %>
    </p>
  <% end %>
  </p>
<% end %>

<br>

<%= link_to 'Back to index', restaurants_path %>